a   { 
        color:grey;
        font-size:  18px;
        pad
        
    }

    header {
        display:flex;
        width: 90%;
        margin:0 auto;
        justify-content: space-evenly;
        align-items:centre;
    }

    ol {

        display:flex;
        justify-content: space-evenly;
        width: 380px;

    }